.quote-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  }

.quote-item {
  flex: 1 1 30rem;
  max-width: 40rem;
  }

.quote-item  {
  width: 30rem;
  display: block;
  background-color: #e39617;
  border-radius: 8px;
  }

@media (max-width: 48rem) {
  .quote-item {
    flex: 1 1 45%; /* Zwei  pro Reihe */
    }
  }

@media (max-width: 30rem) {
  .quote-item {
    flex: 1 1 100%; /* Ein  pro Reihe */
    }
  }
