.quote-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  }

.quote-item {
  flex: 1 1 300px;
  max-width: 400px;
  }

.quote-item  {
  width: 300px;
  display: block;
  background-color: #e39617;
  border-radius: 8px;
  }

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .quote-item {
    flex: 1 1 45%; /* Zwei  pro Reihe */
    }
  }

@media (max-width: 480px) {
  .quote-item {
    flex: 1 1 100%; /* Ein  pro Reihe */
    }
  }
