<p>responsive-design works!</p>
Foto von <a href="https://unsplash.com/de/@bugsster?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Taras Shypka</a> auf <a href="https://unsplash.com/de/fotos/person-mit-schwarzem-ipad-iFSvn82XfGo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
<img [ngSrc]="'./app/responsive-design/taras-shypka-iFSvn82XfGo-unsplash.jpg'" alt="Eine Person bedient ein Tablet mit Touchscreen, dahinter steht geöffnet ein Laptop. Beide Geräte befinden sich auf einem Tisch. Das Foto betont Interaktion und Technologie in alltäglicher Nutzung.">
<div class="container">


</div>

