<div class="layout-grid">
  <header class="site-header">
    <h1>Meine Angular Seite</h1>
    <nav>
      <a
        class="pill"
        routerLink="/welcome"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Welcome
      </a>
      <a
        class="pill"
        routerLink="/knowtism"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        KnowTism
      </a>

      <a
        class="pill"
        routerLink="/responsive-design"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Responsive Design Example
      </a>
    </nav>

  </header>

  <main class="site-main">
    <router-outlet></router-outlet>
  </main>

  <footer class="site-footer">
    <p>&copy; 2025 by Autistinnen und Autistinnen*</p>
  </footer>
</div>
