<section class="knowtism-container">
  <span class="circle-bg"></span>
  <span class="header">
    <h2>KnowTism</h2>
    <p class="subtitle">PREMIERE</p>
    <p class="date-time">26.05.2025, 19Uhr</p>
    <p class="byline">By Autistinnen und Autistinnen+</p>
  </span>

  <article class="content">
    <p>
      Unser Mitglied Franziska hat für wiederkehrende Lebens-Herausforderungen einige Vorlagen erstellt. Diese helfen ihr, wenn sie schlechte Executive Funktionen hat oder einfach zum Energiesparen in schwierigen Situationen wie z. B. Gesprächen.
    </p>
    <p>
      In dieser einstündigen Videokonferenz gibt sie uns einen Überblick über ihre Vorlagen…
    </p>
    <span class="footer">
    <p>Anmeldung: <strong>PM an Kate</strong></p>
  </span>
  </article>


</section>
